<header class="nav">
    <div class="nav-in">
      <a class="brand" href="/v2"><span class="sq"></span><b>PRASAD&nbsp;SUBRAHMANYA</b></a>
      <nav class="nav-links">
        <a href="/v2#track">Track record</a>
        <a href="/v2#experience">Work</a>
        <a href="/v2/story">Story</a>
        <a href="/v2/blog">Writing</a>
        <a class="btn red nav-cta" href="/v2/contact">Get in touch</a>
      </nav>
    </div>
  </header>
